<div marginwidth="0" marginheight="0" style="width:100%;margin:0;padding:0;background-color:#f5f5f5;font-family:Helvetica,Arial,sans-serif">
  <div style="display:block;min-height:5px;background-color:rgb(243,131,19)"></div>
  <center>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
      <tbody>
        <tr>
          <td align="center" valign="top" style="border-collapse:collapse;color:#525252">
            <table border="0" cellpadding="0" cellspacing="0" width="85%">
              <tbody>
                <tr>
                  <td align="center" valign="top" height="20" style="border-collapse:collapse;color:#525252"></td>
                </tr>
                <tr>
                  <td align="center" valign="top" style="border-collapse:collapse;color:#525252">
                    <table width="100%" border="0">
                      <tbody>
                        <tr>
                          <td align="center" colspan="3" style="border-collapse:collapse;color:rgb(82,82,82);font-family:Helvetica,Arial,sans-serif;font-size:30px;font-weight:bold;line-height:120%;text-align:center">
                            Your Order Has Been Processed
                          </td>
                        </tr>
                        <tr>
                          <td align="center" colspan="3" style="border-collapse:collapse;color:#525252;font-size:15px"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="center" height="38" style="border-collapse:collapse;color:#525252"></td>
                </tr>
                <tr>
                  <td align="center" valign="top" style="border-collapse:collapse;color:#525252">
                    <table width="100%" valign="top" border="0" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td width="100%" style="border-collapse:collapse;color:#525252;padding:10px;background-color:rgb(255,255,255);border-color:rgb(221,221,221);border-width:1px;border-radius:5px;border-style:solid;font-size:13px;padding:15px 40px!important" align="left"
                          valign="top">
                            <table width="100%">
                              <tbody>
                                <tr>
                                  <td width="100%" style="border-collapse:collapse;color:#525252;padding:0px!important" align="left" valign="top">
                                    <p style="line-height:20px">
                                    </p>
                                    <div style="font-size:17px;color:rgb(83,83,83);text-align:left;font-weight:bold">
                                        Hi {{ first_name }}!
                                    </div>
                                    <p>Thanks for choosing RentSafe for Renter Insurance.
                                        This email is to confirm that we received your application.
                                    </p>

                                    <p>We can't wait to help you stay on track to get the most protection for your personal
                                    items and rental property. </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="center" valign="top" height="10" style="border-collapse:collapse;color:#525252"></td>
                </tr>
                <tr>
                  <td align="center" valign="top" height="10" style="border-collapse:collapse;color:#525252"></td>
                </tr>
                <tr>
                  <td width="100%" style="border-collapse:collapse;color:#525252;padding:10px;background-color:rgb(255,255,255);border-color:rgb(221,221,221);border-width:1px;border-top-left-radius:5px;border-top-right-radius:5px;border-style:solid;font-size:13px;padding:15px 40px!important"
                  align="left" valign="top">
                    <p style="line-height:20px"></p>
                    <div style="font-size:17px;color:rgb(83,83,83);text-align:left;font-weight:bold">
                        Confirmation
                    </div>
                    <br> Below are the brief information
                    <br>
                    <br>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td width="120" align="left" style="border-collapse:collapse;color:#525252">Name:</td>
                          <td align="left" style="border-collapse:collapse;color:#d86c00">
                            <strong>
                                {{ first_name }} {{ last_name }}
                            </strong>
                          </td>
                        </tr>
                        <tr>
                          <td width="120" align="left" style="border-collapse:collapse;color:#525252">Date of Birth:</td>
                          <td align="left" style="border-collapse:collapse;color:#525252">
                              <strong>
                                  {{ dob }}
                              </strong>
                          </td>
                        </tr>
                        <tr>
                          <td width="120" align="left" style="border-collapse:collapse;color:#525252">Address:</td>
                          <td align="left" style="border-collapse:collapse;color:#525252">
                              <strong>
                                  {{ address }}
                              </strong>
                          </td>
                        </tr>
                        <tr>
                          <td width="120" align="left" style="border-collapse:collapse;color:#525252">City:</td>
                          <td align="left" style="border-collapse:collapse;color:#525252">
                              <strong>
                                  {{ city }}
                              </strong>
                          </td>
                        </tr>
                        <tr>
                          <td width="120" align="left" style="border-collapse:collapse;color:#525252">State:</td>
                          <td align="left" style="border-collapse:collapse;color:#525252">
                              <strong>
                                  {{ state }}
                              </strong>
                          </td>
                        </tr>
                        <tr>
                          <td width="120" align="left" style="border-collapse:collapse;color:#525252">Zip Code:</td>
                          <td align="left" style="border-collapse:collapse;color:#525252">
                              <strong>
                                  {{ zip_code }}
                              </strong>
                          </td>
                        </tr>
                        <tr>
                          <td width="120" align="left" style="border-collapse:collapse;color:#525252">Email:</td>
                          <td align="left" style="border-collapse:collapse;color:#525252">
                              <strong>
                                  {{ email_address }}
                              </strong>
                          </td>
                        </tr>
                        <tr></tr>
                        <tr>
                          <td width="120" align="left" style="border-collapse:collapse;color:#525252">Bundle Type:</td>
                          <td align="left" style="border-collapse:collapse;color:#525252">
                              <strong>
                                  {{ purchase_category }}
                              </strong>
                          </td>
                        </tr>
                        <tr>
                          <td width="120" align="left" style="border-collapse:collapse;color:#525252">Price:</td>
                          <td align="left" style="border-collapse:collapse;color:#525252">
                              <strong>
                                  {{ policy_price }} / month
                              </strong>
                          </td>
                        </tr>
                        <tr>
                          <td width="120" align="left" style="border-collapse:collapse;color:#525252">Deductible:</td>
                          <td align="left" style="border-collapse:collapse;color:#525252">
                              <strong>
                                  {{ deductible }}
                              </strong>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <p></p>
                  </td>
                </tr>
                <tr>
                  <td align="center" valign="top" height="33" style="border-collapse:collapse;color:#525252"></td>
                </tr>
                <tr>
                  <td style="border-collapse:collapse;color:#525252">
                    <table width="100%" border="0" style="font-size:10px;line-height:120%;color:#999;text-align:center">
                      <tbody>
                        <tr>
                          <td style="border-collapse:collapse;color:#525252">
                            <br> Copyright © 2015 RentSafe, Inc. All rights reserved.
                            <br> 1920 Sacramento Street San Francisco, CA 94109
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="center" valign="top" height="30" style="border-collapse:collapse;color:#525252"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </center>
  <div class="yj6qo"></div>
  <div class="adL">
  </div>
</div>
