{% extends "partials/base.html" %}
{% block head %}
    <link rel="stylesheet" href="/assets/css/home.min.css">
    {{ super() }}
{% endblock %}

{% block body %}
{{ super() }}

<div class="page-wrapper">
    <section class="header-10-sub v-center bg-midnight-blue">
        <div class="background use-cover">
            <div class="black-cover"></div>
            &nbsp;
        </div>
        <div>
            <div class="container">
                <div class="hero-unit">
                    <h1>Renters Insurance</h1>
                    <p>
                        Protect all your electronics, jewelry, and valuables, even when
                        <br>they are not located at your apartment.
                    </p>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <form action="/quote" method='post'>
                            <div class="form-group">
                                <input class="form-control" name="first_name" type="text" placeholder="First Name" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="email" type="text" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <button id="top-quote-btn" type="submit" class="btn btn-block btn-info">Get a Quote!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- content-7  -->
    <section class="content-7 v-center">
        <div>
            <div class="container">
                <h3>Move into your new apartment today</h3>
				<br><br>
                <div class="row v-center">
                    <div class="col-sm-2">
                        <div>
                        	<h6>Full Transparency</h6>
                            Use our modern platform to buy renters coverage today. Customer rep ready to help.
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-offset-4">
                        	<img src="/assets/images/home-insurance-hands.png" width="280" height="136" alt="">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="col-sm-offset-5">
                            <h6>Instant Quote</h6>
                            We take out the broker, saving you time and money. Instant prices at the best value.
                            <h6>Trusted by Millions</h6>
                            We provide the same standard form H-04 renters insurance underwritten by Farmers, State Farm, and Geico.
                        </div>
                    </div>
                </div>
                <h6>Complete your renters insurance requirement within minutes</h6>

                <br> If you're looking for renters insurance, congratulations on your wise decision!
                <br> Too many people do not realize that your landlord’s insurance policy does not
                <br> protect you or your personal belongings. Provide coverage for yourself, affordably.
            </div>
        </div>
    </section>

    <!-- content-23  -->
    <section class="content-23 v-center bg-midnight-blue custom-bg">
        <div>
            <div class="container">
                <div class="hero-unit hero-unit-bordered">
                    <h1>Own peace of mind with renters insurance.</h1>
                </div>
            </div>
        </div>
        <a class="control-btn fui-arrow-down" href="#"> </a>
    </section>

    <!-- content-8  -->
    <section class="content-8 v-center">
        <div>
            <div class="container">
                <img src="/assets/images/img-1@2x.png" width="300" height="146" alt="">

                <h3>Get coverage beyond your personal property</h3>

                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <p>Get financial protection if someone is accidentally injured. Receive additional living allowance if your apartment is damaged and becomes uninhabitable.
                        </p>

                        <form action="/quote" method='post'>
                            <div class="form-group">
                                <input class="form-control" name="zip_code" type="text" placeholder="Zip Code">
                            </div>
                            <div class="form-group">
                                <button  id="mid-quote-btn" type="submit" class="btn btn-large btn-clear">Start Quote</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- content-23  -->
    <section class="content-23  v-center bg-midnight-blue">
        <div class="background use-clover">
            <div class="black-cover"></div>
            &nbsp;
        </div>
        <div>
            <div class="container">
                <div class="hero-unit">
                    <h1>Get a Renter's Policy
                        <br class="hidden-phone"> for Under a $1 a Day</h1>
                </div>
            </div>
        </div>
        <a class="control-btn fui-arrow-down" href="#"> </a>
    </section>

    <!-- content-8  -->
    <section class="content-8 v-center">
        <div>
            <div class="container">
                <img width="300" height="146" alt="" src="/assets/images/ticket-red@2x.png" />
                <h3>Chat with a RentSafe Rep today</h3>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <p>
                            We provide round-the-clock chat, sms, and email support to fit with your modern needs. Claims process and customer support are now stress free.
                        </p>
                        <form action="/quote" method='post'>
                            <div class="form-group">
                                <input class="form-control" name="zip_code" type="text" placeholder="Zip Code">
                            </div>
                            <div class="form-group">
                                <button  id="btm-quote-btn" type="submit" class="btn btn-large btn-clear">Start Quote</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'partials/btm_try_it_now.html' %}
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/assets/js/modernizr.custom.js"></script>
<script src="/assets/js/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="/assets/js/jquery.parallax.min.js"></script>
<script src="/assets/js/startup-kit.js"></script>
<script src="/assets/js/jquery.backgroundvideo.min.js"></script>
<script src="/assets/js/script.js"></script>
<script src="/assets/js/libraries/jquery.scrolldepth.js"></script>
<script type="text/javascript">
  $(function() {  $.scrollDepth({labelPrefix:"HOME:"}); });
</script>
<script type="text/javascript">
    $("#top-quote-btn").click(function() {
        mixpanel.track("click HOME:top-quote-btn");
    })
    $("#mid-quote-btn").click(function() {
        mixpanel.track("click HOME:mid-quote-btn");
    })
    $("#btm-quote-btn").click(function() {
        mixpanel.track("click HOME:btm-quote-btn");
    })
</script>
{% endblock %}
