{% extends "partials/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/quote.min.css">
    {{ super() }}
{% endblock %}

{% block body %} {{ super() }}

<div class="page-wrapper">
    <section id="address" class="content-8 v-center">
        <div>
            <div class="container">
                <h3>What address do you rent from?</h3>
                <div style="padding-bottom:20px;">
                Once we know where you rent, we can instantly quote you for a renter's insurance plan.
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <form>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Address" id="form-address" required>
                                <input class="form-control" type="text" placeholder="City" id="form-city" required>
                                <input class="form-control" type="text" placeholder="State" id="form-state" required>
                                <input class="form-control" type="text" placeholder="Zip Code" id="form-zip-code" required>
                            </div>

                            <div class="form-group">
                                <a class="btn btn-large btn-clear" class="btn btn-block btn-info" href="#price-comparison" onclick="ctrl.showPriceComparison(); showNext('#price-comparison');" value="Continue">Continue</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--<a class="control-btn fui-arrow-up" href="#policy" onclick="showNext('#policy');"> </a>-->

        </div>
    </section>

    <!-- price-1 -->
    <section id="price-comparison" class="content-8 v-center price-1" style="display: none;">
        <div>
            <a class="control-btn fui-arrow-up" href="#address" onclick="showNext('#address');"> </a>
            <div class="container">
                <h3 style="text-align:center;">Take a look to our Farmer's Coverage</h3>
                <p class="lead" style="text-align:center;">
                    Simply choose your favorite. We've hand-picked
                    what we recommend for our friends and family.
                </p>
                <div class="row plans">
                    <div class="col-sm-4" id="cheap-plan-container">
                    </div>
                    <div class="col-sm-4" id="medium-plan-container">
                    </div>
                    <div class="col-sm-4" id="deluxe-plan-container">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="contact-details" class="content-8 v-center" style="display: none;">
        <div>
            <a class="control-btn fui-arrow-up" href="#price-comparison" onclick="showNext('#price-comparison');"> </a>
            <div class="container">
                <h3>How can we contact you?</h3>
                <p class="lead" style="text-align:center;">
                    We will follow up by email so we can get more context and
                    best meet your rental needs. Thanks!
                </p>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <form>
                            <div class="form-group">
                                <input class="form-control" type="text" name="fname" placeholder="First Name" id="form-first-name">
                                <input class="form-control" type="text" name="lname" autocomplete="family-name" placeholder="Last Name" id="form-last-name">
                                <input class="form-control" type="email" placeholder="Email Address" id="form-email-address">
                                <input class="form-control" type="text" name="phone" autocomplete="tel" placeholder="Phone Number" id="form-phone-number">
                            </div>
                            <div class="form-group">
                                <div class="form-group" style="padding-top:10px;">
                                    <a class="btn btn-large btn-clear" class="btn btn-block btn-info" onclick="ctrl.pay();">Complete signup</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--<a class="control-btn fui-arrow-down" href="#price-comparison" onclick="ctrl.showEstimate(); showNext('#price-comparison');"> </a>-->
        </div>
    </section>

<!--
    <section id="creditcard" class="content-8 v-center" style="display: none;">
        <div>
            <a class="control-btn fui-arrow-up" href="#price-comparison" onclick="showNext('#price-comparison');"> </a>
            <div class="container">
                <h3>Complete insurance signup</h3>
                <div>Enter credit card information if you want to skip payment over phone. Click 'Complete insurance signup' to skip the credit card form. </div>
                <div style="margin-bottom:20px;">
                  We will <b>not</b> charge your account until you have talked to one of our trusted representatives.
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <form>
                            <div class="form-group">
                                <input class="form-control" type="text" name="cardnumber" x-autocompletetype="cc-number" placeholder="Credit card number" id="pform-cardnumber">
                                <input class="form-control" type="text" name="cvc" x-autocompletetype="cc-csc" placeholder="CVC (3 digit)" id="pform-cvc">
                                <input class="form-control" type="text" name="ccmonth" x-autocompletetype="cc-exp-month" placeholder="Expiration Month (MM)" id="pform-exp-month">
                                <input class="form-control" type="text" name="ccyear" x-autocompletetype="cc-exp-year" placeholder="Expiration Year (YY)" id="pform-exp-year">
                                <br>
                                <input class="form-control" type="text" placeholder="Billing Address (if different than current address)" id="pform-billing-address">
                            </div>

                            <div>
                                <label style="padding-right:5px;">Monthly plan price: </label>
                                <label id="estimated-value"></label>
                            </div>
                            <div class="additional-links">
                                By signing up you agree to <a href="/terms">Terms of Use</a> and <a href="/privacy_policy">Privacy Policy</a>
                            </div>

                            <div class="form-group" style="padding-top:10px;">
                                <a class="btn btn-large btn-clear" class="btn btn-block btn-info" onclick="ctrl.pay();">Complete insurance signup</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
-->

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="/assets/js/fill_quote.js"></script>
<script src="/assets/js/price_details.js"></script>
<script>
    function showNext(id) {
        $(id).show();
    }

    window.publicKey = "{{ public_key }}";

    $(document).ready(function() {
      $('#cheap-plan-container').html(rts.priceCardHtml("cheap"));
      $('#medium-plan-container').html(rts.priceCardHtml("medium"));
      $('#deluxe-plan-container').html(rts.priceCardHtml("deluxe"));
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/assets/js/modernizr.custom.js"></script>
<script src="/assets/js/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="/assets/js/jquery.parallax.min.js"></script>
<script src="/assets/js/startup-kit.js"></script>
<script src="/assets/js/jquery.backgroundvideo.min.js"></script>
<!--<script src="/assets/js/script.js"></script>-->
<!-- <script src="/assets/js/libraries/forge.min.js"></script> -->

<script src="/assets/js/libraries/jquery.scrolldepth.js"></script>
<script type="text/javascript">
  $(function() {  $.scrollDepth({labelPrefix:"QUOTE:"}); });
</script>
<script type="text/javascript">
    $("#address a.btn").click(function() {
        mixpanel.track("click QUOTE:#address:Continue");
    })

    $("#contact-details a.btn").click(function() {
        mixpanel.track("click QUOTE:#Register:Complete");
    })
</script>
{% endblock %}
