<!DOCTYPE html>
<html>
  <head>
  	{% block head %}
    <meta charset="utf-8">
    <title>RentSafe</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/flat-ui.css">
    <link rel="stylesheet" href="/assets/css/icon-font.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    -->
    <script src="assets/js/libraries/ga.js"></script>
    <script src="assets/js/libraries/mixpanel.js"></script>
    <script>
        mixpanel.init("{{ apis.mixpanel_token}}");

        ga('create', '{{ apis.ga_token }}', 'auto');
        ga('send', 'pageview');
    </script>

    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
    $.src="//v2.zopim.com/?3MV4FoEP8iwIrpttsvrgXedQcbGyqGSG";z.t=+new Date;$.
    type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    </script>
    <!--End of Zopim Live Chat Script-->
    {% endblock %}
  </head>
  <body>
  {% include 'partials/header.html' %}
  {% block body %}
  {% endblock %}
  {% include 'partials/footer.html' %}
  </body>
</html>
