<!-- footer-3 -->
<footer class="footer-3">
    <div class="container">
        <div class="row v-center">
            <div class="col-sm-2">
                <a class="brand" href="#">RentSafe</a>
            </div>
            <div class="col-sm-7">
                <div style="text-align:center;" class="additional-links">
                    Be sure to take a look to our <a href="/terms">Terms of Use</a> and <a href="privacy_policy">Privacy Policy</a>
                </div>
                <div style="text-align:center;">
                    Licensed through Farmers Insurance Group of Companies.
                </div>
                <div style="text-align:center;">
                    © 2015 RentSafe, Inc.
                </div>
            </div>
            <div class="col-sm-3">
                <div class="address">
                    1920 Sacramento Street<br>San Francisco, CA 94109
                </div>
            </div>
        </div>
    </div>
</footer>
