<!-- header-10 -->
<header class="header-10">
    <div class="container">
        <div class="navbar col-sm-12" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"></button>
                <a class="brand" href="/">RentSafe</a>
             </div>
            <div class="collapse navbar-collapse pull-right">
                <ul class="nav pull-left">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
