{% extends "partials/base.html" %}

{% block body %}
  {{ super() }}
  <div class="container p-t-lg">
    <h1 class="text-center">About us</h1>
  <div>
     We are a group of friends set out on a mission to making buying phone insurance better. The fine print of these contracts is so tricky it's hard to know who to believe in this process.
  </div>
  <div style="line-height:50px;">.</div>
  <div>
     When I bought my T-mobile insurance for the first time a few months ago I was upset with how little coverage I was given. For some people it's really worth it, for others it's not. My friend who drops his phone a lot really needs AppleCare.
  </div>
   <div style="line-height:50px;">.</div>
  <div>
     So we want to help you in this maze of figuring out phone insurance. Let us know how we do!
  </div>
  <div style="line-height:50px;">.</div>
{% endblock %}
