{% extends "partials/base.html" %}
{% block head %}
    <link rel="stylesheet" href="/assets/css/home.min.css">
    <style>
        .num-items-in-cart-icon{
          display: block;
          padding: 0 0 0 26px;
          
          background: url(//cdn.shopify.com/s/files/1/0185/6232/t/1/assets/cart-icons.png?17904534759617392317) 0 0 no-repeat;
          
          }
    </style>
    {{ super() }}
{% endblock %}

{% block body %}
{{ super() }}

<div class="page-wrapper">
    {% include "partials/cart.html" %}
    <div class="header-10-sub v-center bg-midnight-blue" style="display:block;">
        <div style="display:block;">
          <h2>Checkout</h2>
        </div>
        {% include "partials/cart_table.html" %}
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/assets/js/jquery.backgroundvideo.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="/assets/js/cart.js"></script>
<script>
  $(document).ready(function(){
    theCart.refreshView();
    cartTable.renderCartTable();
  });
</script>
{% endblock %}