{% extends "partials/base.html" %}
{% block head %}
    <link rel="stylesheet" href="/assets/css/home.min.css">
    <style>
        .num-items-in-cart-icon{
          display: block;
          padding: 0 0 0 26px;
          
          background: url(//cdn.shopify.com/s/files/1/0185/6232/t/1/assets/cart-icons.png?17904534759617392317) 0 0 no-repeat;
          
          }
    </style>
    {{ super() }}
{% endblock %}

{% block body %}
{{ super() }}

<div class="page-wrapper">
    <div style="float:right; background:#eeeeee;" width="40px;">
    <a class="num-items-in-cart-icon"></a>
        My cart has <span id="items-in-cart">0</span> items | <a href="/view_cart">View Cart</a> | <a href="/checkout">Checkout</a>
    </div>
    <section class="header-10-sub v-center bg-midnight-blue">
        <div>
            <div class="black-cover"></div>
            &nbsp;
        </div>
        <h2>Shopping cart</h2>
        <table id="cart-table">
          <tr>
            <th></th><th>Item</th><th>Price</th><th>Quantity</th><th>Total</th><th>
          </tr>
        </table>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/assets/js/jquery.backgroundvideo.min.js"></script>
<script src="/assets/js/cart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script>
  var ctrl = {};
  ctrl.removeOne = function(item) {
    window.console.log('Removing ' + item);
    theCart.remove(item, 1);
    $('#cart-table').html('');
    ctrl.renderCartTable();
  }
  ctrl.rowTmplTxt =
            '<tr>' +
            '<td></td><td><%=display_name%></td>' +
            '<td>$<%=price%></td><td><%=quantity%></td>' +
            '<td>$<%=total_price%></td>' +
            '<td><button class="btn" onclick="ctrl.removeOne(\'<%=internal_name%>\');">' +
            'Remove one</button></td>' +
            '</tr>';
  ctrl.rowTmpl = _.template(ctrl.rowTmplTxt);
  ctrl.renderCartTable = function() {
        // Show items from the cart.
    var cart = theCart.getCart();
    var itemKeys = Object.keys(cart['items']);
    itemKeys.sort();
    var rows = [];
    for (var i = 0; i < itemKeys.length; i++) {
      var itemKey = itemKeys[i];
      var numItems = cart['items'][itemKey];
      window.console.log('Have ' + numItems + ' of ' + itemKey);
      var row = cItems['d'][itemKey];
      row['quantity'] = numItems;
      row['total_price'] = numItems * row['price'];
      // Add quantity
      // Add total = quantity * price per amount
      rows.push(row);
    }
    for (var i = 0; i < rows.length; i++) {
      var rowHtml = ctrl.rowTmpl(rows[i]);
      // Show items from cart.
      $('#cart-table').append(rowHtml);
    }
  }
</script>
<script>
  $(document).ready(function(){
    theCart.refreshView();
    ctrl.renderCartTable();
  });
</script>
{% endblock %}